.menuIntro{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    text-align: center;
    border: 10px;
    border-color: rgb(0, 0, 0);
}

.head {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid white;
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px; 
  padding: 20px;
}