.locations-content {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 16px;
}

.locations-hero {
  color: black;
  padding: 60px 0 40px;
  text-align: center;
}

.hero-inner {
  max-width: 1100px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hero-sub {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0 0 8px;
}

.hero-title {
  font-size: 42px;
  margin: 0 0 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 11vh;
  position: fixed ;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: none;
  
} 

.location-search-bar{
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 11vh;
  position: fixed ;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: none;
}