.locations-content {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 16px;
}

.locations-hero {
  color: black;
  padding: 60px 0 40px;
  text-align: center;
}

.hero-inner {
  max-width: 1100px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hero-inner h2,
.hero-inner h3 {
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center; 

}

.hero-inner h2 {
  margin-top: 22vh; 
  font-size: 50px;
  font-weight: 400;


}

.hero-inner h3 {
  margin-top: 15vh; 
  font-size: 35px;
  font-weight: 400;

}

.hero-sub {
  letter-spacing: 2px;
  margin: 0 0 8px;
}

.hero-title {
  font-size: 42px;
  margin: 0 0 16px;
}

 .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card{
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 11vh;
  position: fixed ;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: none;
}  

.location-search-bar{
  padding-right:20px ;
  padding-left: 650px;
  position: fixed;
  top: 0;
  left: 0;
  width: 1000px;
  box-shadow: none;
  margin-top: 34vh; 

}
