.hero {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #d51818;
    padding: 0px;
    height: 10vh;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding-right: 5vw;
    padding-top: 3vh;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: light;
}

a {
    text-decoration: none;
}

.hero {
    background-color: black;
    height: 90vh;
}

.order-button a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-button {
    display: flex;
    background-color: #d51818;
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    width: 35vw;
    height: 5vh;
    margin-top: 72vh;
    margin-left: 55vw;
    text-align: center;
    font-size: 36px;
    line-height: 4vh;
}

.menu-item-img-container img {
    border-radius: 9px;
    height: 95%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.menu-item-button-container {
    width: 97%;
    height:8%;
    border-radius: 10px;
    border: 3px solid #d51818;
    background-color: #d51818;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 4px;
}


.menu-item-button-container a {
    display: block;
    text-decoration: none;
    color: white;
}

.menu-info {
    display: inline-flex;
    flex-direction: row;
    padding-left: 10px;
    text-align: right;
    margin-bottom: -30px;
    width: 100%;
}

.item-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
    padding-left: 10px;

}

.calories {
    margin-left: 10px;
}

.price {
    margin-right: 10px;
    padding-left: 225px;
}

.step {
    /* border: 3px solid red; */
}
.step-title h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    margin-left: 40px;
}

.step-item-container {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
}

.step-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 24px;
    margin-right: 24px; 
    height: 200px;
    width: 160px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.step-item img {
    object-position: center;
    object-fit: fill;
}
